<%= form_with(model: administrator_password) do |form| %>
  <% if administrator_password.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(administrator_password.errors.count, "error") %> prohibited this administrator_password from being saved:</h2>

      <ul>
        <% administrator_password.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= form.label :administrator_id %>
  <%= form.text_field :administrator_id %>
</div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :salt %>
    <%= form.number_field :salt %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
