<p id="notice"><%= notice %></p>

<h1>Administrator Passwords</h1>

<table>
  <thead>
    <tr>
      <th>Password</th>
      <th>Salt</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrator_passwords.each do |administrator_password| %>
      <tr>
        <td><%= administrator_password.password %></td>
        <td><%= administrator_password.salt %></td>
        <td><%= link_to 'Show', administrator_password %></td>
        <td><%= link_to 'Edit', edit_administrator_password_path(administrator_password) %></td>
        <td><%= link_to 'Destroy', administrator_password, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administrator Password', new_administrator_password_path %>
