<p id="notice"><%= notice %></p>

<p>
  <strong>Password:</strong>
  <%= @administrator_password.password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @administrator_password.salt %>
</p>

<%= link_to 'Edit', edit_administrator_password_path(@administrator_password) %> |
<%= link_to 'Back', administrator_passwords_path %>
