<div class="contenitore-form">

<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div style="display: none;">
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>
  </div>

  <div style="display: none;">
  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id %>
  </div>
  </div>

  <div class="field">
    <%= form.label :content %>
    <br>
    <%= form.text_area :content, class: "commento form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Crea", class: "btn btn-primary" %>
  </div>
<% end %>
</div>