<% content_for :custom_styles do %>
  <style>
      body{
        background-image: url('<%= image_path("warn_back.jpg") %>');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center 150px;
        background-attachment: fixed; 
      }
  </style>
<%end%>
<p id="notice"><%= notice %></p>

<h1 style="font-size: 30px; margin-left: -40px">Utenti ammoniti</h1>

<div class="user-table">
<table>
  <thead>
    <tr>
      <th>Utente</th>
      <th>Amministratore</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warns.each do |warn| %>
      <tr>
        <% user = User.all.find(warn.user_id) %>
        <% admin = User.all.find(warn.administrator_id) %>
        <td><%= user.name %></td>
        <td><%= admin.name %></td>
        <td><%= link_to 'Rimuovi ammonizione', destroy_warn_path(id: warn.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

