<% content_for :custom_styles do %>
	<%if user_signed_in? and current_user.is_admin?%>
		<style>
		body{
			background-image: url('<%= image_path("background.jpg") %>');
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center 200px;
			background-attachment: fixed; 
		}
		</style>
	<%else%>
		<style>
		body{
			background-image: url('<%= image_path("green_background.jpg") %>');
			background-size: 50%;
			background-repeat: no-repeat;
			background-position: center 150px;
			background-attachment: fixed; 
		}
		</style>
	<%end%>
<%end%>

<div class="text_container">

<% if(user_signed_in?) %>
  <% if !current_user.is_admin? %>
	<h1>Benvenuto/a su <c>Spoti</c>forum, <%= current_user.name %>!</h1>
	</br>
  <%else %>
  	<h1>Benvenuto/a su <c>Spoti</c>forum, <%= current_user.name %>!</h1>
  	</br>
	<h2>Visualizza tutti gli utenti</h2>
  	<b><%= link_to 'Lista Utenti', users_path %> </b>
	</br>
	</br>
	<h2>Visualizza tutti gli utenti ammoniti</h2>
	<b><%= link_to 'Lista Ammoniti', warns_path %> </b>
	</br>
	</br>
	<h2>Visualizza tutti gli utenti bannati</h2>
	<b><%= link_to 'Lista Bannati', blacklists_path %> </b>
	</br>
	</br>
	</br>
  <% end %>

<% else %>
	<h1>Benvenuto su Spotiforum!</h1>

<% end %>

<h2>Visita la sezione Community per conoscere l'opinione degli altri utenti su argomenti musicali di tendenza.</h2>

<a class="btn btn-primary" href="/pages/community" role="button">Visita la Community</a>

<% if !user_signed_in? %>
	<h2>Non sei registrato? Effettua il log in per poter godere di tutti i vantaggi del nostro sito.
	Potrai pubblicare post, commentare e mettere like.</h2>

	<a class="btn btn-primary" href="users/sign_up" role="button">Registrati</a>
<% end %>

<% if user_signed_in? and !current_user.is_admin? %>
	<h2>Visita il tuo profilo per sapere cosa vedono gli altri di te.</h2>
	<%= button_to "Profilo", profile_home_path, method: :post, params: {id: current_user.id}, class: "btn btn-primary" %> 
<% end %>
<% if user_signed_in? %>
	</br>
	<b><%= link_to 'Sign out', '/users/sign_out', :method=>:delete %></b>
<% end %>


</div>



