
<% if @user.image.attached? %>
  <%= image_tag(@user.image, class: 'profile-image') %>
<% else %>
<%= image_tag "user.svg", class: "profile-default" %>
<% end %>

<div class="username">
  <%= @user.name %>
</div>


<% if @user.spotify ==true %>

<div class="text_container">
  <h2> Statistiche di <%= @user.name%></h2>
  <h3> Canzone preferita</h3>
  <p> <%= @user.song %> </p>

  <h3> Canzone più ascoltata del periodo</h3>
  <p> <%= @user.mostlistenedsong %> </p>

  <h3> Artista più ascoltata del periodo</h3>
  <p> <%= @user.mostlistenedartist %> </p>

  <h3> La playlist che ti abbiamo consigliato </h3>
  <%RSpotify.authenticate("d654966e96084bcdb7ec9a296fa0b0a1", "f271efc1b16c404f9ee71c318baa581a") 
    user = RSpotify::User.find(session[:spotify_access_token]["uid"])  # Sostituisci 'username' con il nome utente Spotify desiderato
    playlist_list = user.playlists

    playlist_list.each do |playlist|
      if playlist.name == "Spotiforum Recommended Playlist!"
        @spotiforum = playlist
      end
    end

    if @spotiforum != nil %>
    <%  songs = @spotiforum.tracks%>

    <%  songs.each do |song| %>
    <%=  "Titolo: #{song.name}" %> <br> 
    <%=  "Artista: #{song.artists[0].name}" %> <br>
    <%=  "Album: #{song.album.name}" %> <br>
    <%=  "Durata: #{song.duration_ms} ms" %> <br>
      <br>
    <%  end
    else%>
    <%= "Non hai ancora creato questa playlist"%>
    <%end%>
</div>

<%end %>

<h2> I post di <%= @user.name %>: </h2>

<% @posts.each do |post| %>
  <div class="posts_container">
    <h2 class="username-comment"> <%= @user.name %> </h2>
    <h3 class="content"><%= post.content %></h3>
    <h4 class="tags"><%= post.tag %></h4>
    <div class="row">

      <div class="col-sm-2 num_likes">
        <%= @likes.where(post_id: post.id).count %>
      </div>

      <div class="col-sm-2 likes">
        <%= image_tag "like.svg", class: "btn_for_user" %>
      </div>

      <div class="col-sm-2 num_comments">
        <%= @comments.where(post_id: post.id).count %>
      </div>

      <div class="col-sm-2">
        <%= image_tag "comment.svg", class: "btn_for_user" %>
      </div>

  </div>
<%end%>

