<% content_for :custom_styles do %>
	<style>
	body{
		background-image: url('<%= image_path("green_background.jpg") %>');
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: center 75px;
    background-attachment: fixed; 
	}
	</style>
<%end%>
<% if @user.image.attached? %>
  <%= image_tag(@user.image, class: 'profile-image') %>
<% else %>
<%= image_tag "user.svg", class: "profile-default" %>
<% end %>

<div class="username">
  <%= @user.name %>
</div>

<% if user_signed_in? and current_user.is_admin? %>
  <%= button_to warn_path(@user.id), {:class => "buttonTo" }, method: "post" do %>
    <%= image_tag "warn.svg", class: "warn-button" %>
  <%end%>
  <%= button_to ban_path(@user.id), {:class => "buttonTo" }, method: "post" do %>
    <%= image_tag "ban.svg", class: "ban-button" %>
  <%end%>
<% end %>


<% if @user.spotify ==true %>
  <div data-toggle="collapse" href="#playlist" role="button" aria-expanded="false" aria-controls="playlist"> <h2> Statistiche di <%= @user.name%>: </h2>  </div> 
  <div class="collapse" id="playlist">
  
  <!-- card per arista e canzone preferiti-->
  <div class="card-deck">
    <div class="card posts_container">
      <h3> Canzone preferita</h3>
      <p> <%= @user.song %> </p>
    </div>
    <div class="card posts_container">
      <h3> Canzone più ascoltata del periodo</h3>
      <p> <%= @user.mostlistenedsong %> </p>
    </div>
    <div class="card posts_container">
      <h3> Artista più ascoltato del periodo</h3>
      <p> <%= @user.mostlistenedartist %> </p>
    </div>
  </div>
  
  <br>
  <br>
  
  <!--playlist consigliata con collapse bootstrap-->
  <h3> La playlist che ti abbiamo consigliato </h3>
  <%RSpotify.authenticate(Rails.application.credentials.dig(:spotify_oauth_client_id), Rails.application.credentials.dig(:spotify_oauth_client_secret))
    user = RSpotify::User.find(@user.spotify_username)  # Sostituisci 'username' con il nome utente Spotify desiderato
    playlist_list = user.playlists

    playlist_list.each do |playlist|
      if playlist.name == "Spotiforum Recommended Playlist!"
        @spotiforum = playlist
      end
    end
    
    if @spotiforum != nil %>
    <%  songs = @spotiforum.tracks%>
    <div class="card posts_container">
    <%  songs.each do |song| %>
        <p data-toggle="collapse" href="#collapse<%= song.id%>" role="button" aria-expanded="false" aria-controls="collapse<%= song.id%>">
          <%=  "#{song.name}" %>
        </p>
        <div class="collapse" id="collapse<%= song.id%>" style="padding-left: 75px;"> 
            <p> <%=  "Artista: #{song.artists[0].name}" %> </p>
            <p> <%=  "Album: #{song.album.name}" %> </p>
            <p> <%=  "Durata: #{song.duration_ms} ms" %> </p>
        </div>
      <hr style="border-color: rgba(28, 126, 28, 0.479);">
    <%  end %>
    </div>
    <%else%>
    <%= "Non hai ancora creato questa playlist"%>
    <%end%>

    <br>
    <br>
    
    <!--playlist con canzoni scelte da me creata con collapse bootstrap-->
    <h3> La playlist che ho creato </h3>
    <%RSpotify.authenticate(Rails.application.credentials.dig(:spotify_oauth_client_id), Rails.application.credentials.dig(:spotify_oauth_client_secret))
      user2 = RSpotify::User.find(@user.spotify_username)  # Sostituisci 'username' con il nome utente Spotify desiderato
      playlist_list2 = user2.playlists

      playlist_list2.each do |playlist2|
        if playlist2.name == "Your Spotiforum Playlist!"
          @spotiforum2 = playlist2
        end
      end
      
      if @spotiforum2 != nil %>
      <%  songs2 = @spotiforum2.tracks%>
      <div class="card posts_container">
      <%  songs2.each do |song2| %>
          <p data-toggle="collapse" href="#collapse2<%= song2.id%>" role="button" aria-expanded="false" aria-controls="collapse2<%= song2.id%>">
            <%=  "#{song2.name}" %>
          </p>
          <div class="collapse" id="collapse2<%= song2.id%>" style="padding-left: 75px;"> 
              <p> <%=  "Artista: #{song2.artists[0].name}" %> </p>
              <p> <%=  "Album: #{song2.album.name}" %> </p>
              <p> <%=  "Durata: #{song2.duration_ms} ms" %> </p>
          </div>
        <hr style="border-color: rgba(28, 126, 28, 0.479);">
      <%  end %>
      </div>
      <%else%>
      <%= "Non hai ancora creato questa playlist"%>
      <%end%>
    </div>
  

<%end %> 

<br>
<br>


<h2> I post di <%= @user.name %>: </h2>

<% @posts.each do |post| %>
  <div class="posts_container">
    <h2 class="username-comment"> <%= @user.name %> </h2>
    <h3 class="content"><%= post.content %></h3>
    <h4 class="tags"><%= post.tag %></h4>
    <div class="row">

      <div class="col-sm-2 num_likes">
        <%= @likes.where(post_id: post.id).count %>
      </div>

      <div class="col-sm-2 likes">
        <%= image_tag "like.svg", class: "btn_for_user" %>
      </div>

      <div class="col-sm-2 num_comments">
        <%= @comments.where(post_id: post.id).count %>
      </div>

      <div class="col-sm-2">
        <%= image_tag "comment.svg", class: "btn_for_user" %>
      </div>
    </div>
  </div>
<%end%>
