<p id="notice"><%= notice %></p>

<p>
  <strong>User_id:</strong>
  <%= @user_password.user_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user_password.password %>
</p>

<p>
  <strong>Salt:</strong>
  <%= @user_password.salt %>
</p>

<%= link_to 'Edit', edit_user_password_path(@user_password) %> |
<%= link_to 'Back', user_passwords_path %>
