<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Spotify</th>
      <th>Google</th>
      <th>Admin</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.spotify %></td>
        <td><%= user.google %></td>
        <td><%= user.admin %></td>
        <td><%= button_to "Profilo utente", profile_home_path, method: :post, params: {id: user[:id]} %> </td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
