<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.photo %>
</p>

<p>
  <strong>Spotify:</strong>
  <%= @user.spotify %>
</p>

<p>
  <strong>Song:</strong>
  <%= @user.song %>
</p>

<p>
  <strong>Google:</strong>
  <%= @user.google %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>


  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'sign_out', '/users/sign_out', :method=>:delete %>
  
<%= link_to 'Back', users_path %>

<div class="text_container">
  <h2>Aggiorna le tue statistiche spotify<h2>
  <h3>Scegli la tua canzone preferita</h3>
  <%= form_tag('search' , method: :post) do %>
    <%= label_tag :search_query, "Immetti una canzone:" %>
    <%= text_field_tag :search_query %>
    <%= submit_tag "Modifica" %>
  <% end %>

  <h4>Risultato della ricerca</h4>
  <p>Nome della canzone: <%= session[:canzone] %></p>

  <h3>Scopri l'artista che hai ascoltato di più</h3>
  <%= form_tag('user_artist' , method: :post) do %>
    <%= csrf_meta_tags %>
    <%= label_tag :search_query, "Clicca qui per scoprire l'artista:" %>
    <%= submit_tag "Scopri" %>
  <% end %>

  <h4>Risultato della ricerca</h4>
  <p>Nome dell'artista: <%= session[:artista] %></p>

  <h3>Scopri la canzone che hai ascoltato di più ultimamente</h3>
  <%= form_tag('user_song' , method: :post) do %>
    <%= csrf_meta_tags %>
    <%= label_tag :search_query, "Clicca qui per scoprire la canzone:" %>
    <%= submit_tag "Scopri" %>
  <% end %>

  <h4>Risultato della ricerca</h4>
  <p>Nome dell'artista: <%= session[:fcanzone] %></p>

  <h3>Playlist pensata per te</h3>
  <%= form_tag('create_recommended_playlist' , method: :post) do %>
    <%= label_tag :search_query, "Crea playlist:" %>
    <%= submit_tag "Crea" %>
  <% end %>

  <h3>Crea la tua playlist!</h3>
  <%= form_tag('create_your_own_playlist', method: :post) do %>
    <% (1..5).each do |i| %>
      <%= label_tag "search_query#{i}", "Canzone#{i}:" %>
      <%= text_field_tag "search_query#{i}" %>
      </br>
    <% end %>
    <%= submit_tag "Cerca" %>
  <% end %>
</div>
